<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <img src="/images/logo.png" alt="logo">
    <nav>
      <ul>
        <li> <a href="/"> Accueil</a> </li>
        <li> <a href="/exoplanets"> Exoplanètes</a> </li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    Site sponsorisé par Exo1000.
  </footer>
</body>

</html>